@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/

/* GENERAL STYLES */
body {
	background-color: #000024;
	color: #fff;
	font-family: 'Open Sans', Verdana, sans-serif;
	font-size: 9pt;
}
a {
	color: #aaa;
}
a:hover {
	color: #fff;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* HEADER */
h1 {
	color: #fff;
	left: .75em;
	pointer-events: none;
	position: absolute;
	text-align: center;
	/*text-shadow: 0px 0px 4px #aaa;*/
	top: .75em;
	z-index: 1;
}

/* CONTROL PANEL STYLES */
div.controls-tab-title {
	background-image: url('./img/tab-title.png');
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	height: 120px;
	position: fixed;
	right: 10px;
	/*transform: rotate(-90deg);*/
	transition: right 1s cubic-bezier(1.000, -0.0, 0.5, 1.35);
	width: 30px;
	z-index: 1;
}
div.controls-tab-title.settings {
	top: calc(5% + 10px);
}
div.controls-tab-title.selection {
	top: calc(5% + 140px);
}
div.controls-tab-title.route {
	top: calc(5% + 270px);
}
div.controls-tab-title > span {
	display: inline-block;
	left: -114px;
	position: absolute;
	top: -18px;
	transform: rotate(-90deg);
	transform-origin: right top;
	-webkit-user-select: none;
	user-select: none;
	width: 120px;
}
div.controls-tab-title.expanded {
	right: 420px;
}
div.controls-tab-title:before {
	background-color: #090;
	border-radius: 50%;
	box-shadow: inset 0 0 8px #000;
	content: '';
	display: block;
	height: 10px;
	left: 11px;
	position: absolute;
	top: 14px;
	width: 10px;
	z-index: 0;
}

div.controls-tab-title.active:before {
	background-color: #0f0;
	box-shadow: 0 0 10px #0f0, 0 0 15px #0f0;
}

div.controls-background {
	background-color: #222;
	background-image: url('./img/metal-three-mod3.png');
	box-shadow: inset 0px 0px 10px #666;
	height: 90%;
	min-height: 400px;
	overflow: visible;
	position: fixed;
	right: -390px;
	top: 5%;
	transition: right 1s cubic-bezier(1, 0, 0.5, 1.35);
	width: 400px;
	z-index: 2;
}
div.controls-background.expanded {
	right: 20px;
}
div.controls-background:after {
	background-image: url('./img/pipe.png');
	content: '';
	display: block;
	height: 300px;
	right: -100px;
	position: absolute;
	top: calc(50% - 150px);
	width: 100px;
}

div.controls {
	font-size: 1.2em;
	height: 90%;
	min-height: 400px;
	overflow: hidden;
	padding: 0;
	position: fixed;
	right: -390px;
	top: 5%;
	transition: right 1s cubic-bezier(1, 0, 0.5, 1.35);
	width: 400px;
	z-index: 3;
}
div.controls.expanded {
	right: 20px;
}
div.controls:after {
	box-shadow: inset 0px 0px 10px #666;
	content: '';
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 5;
}
div.controls > div {
	background-attachment: local;
	background-color: #333;
	background-image: url('./img/metal-three-mod2.png');
	/*min-height: calc(100% - 2em);*/
	height: calc(100% - 2em);
	right: -100%;
	overflow-y: auto;
	padding: 1em 15px;
	position: absolute;
	top: 0;
	transition-property: right;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: cubic-bezier(1, 0.4, 0.4, 1);
	width: calc(100% - 30px);
}
div.controls:nth-child(1) {
	z-index: 1;
}
div.controls:nth-child(2) {
	z-index: 2;
}
div.controls:nth-child(3) {
	z-index: 3;
}
div.controls > div.active {
	right: 0;
	transition-delay: .5s;
	z-index: 5;
}
div.controls h2 {
	/*margin: 1em 0;*/
	/*border: 1px solid black;*/
	display: inline-block;
	font-size: 1em;
	padding: 0;
}
div.controls h3 {
	margin: .4em 0 ;
}
div.controls p {
	margin: 0.4em 0;
}
div.controls hr {
	border-width: 2px;
	border-color: #555;
	clear: both;
}
div.controls div.planet-info {
	background-repeat: no-repeat;
	background-position: top right;
}
div.controls div.planet-info.liao {
	background-image: url("./img/liao_64.png");
}
div.controls div.planet-info.kurita {
	background-image: url("./img/kurita_64.png");
}
div.controls div.planet-info.davion {
	background-image: url("./img/davion_64.png");
}
div.controls div.planet-info.marik {
	background-image: url("./img/marik_64.png");
}
div.controls div.planet-info.steiner {
	background-image: url("./img/steiner_64.png");
}
div.controls div.planet-info.comstar {
	background-image: url("./img/comstar_64.png");
}
div.controls div.planet-info span.neighbor.uninhabited {
	color: #a00;
	font-style: italic;
}
div.controls button {
	background: none;
	border: 1px solid #fff !important;
	border-radius: none;
	color: #fff;
	cursor: pointer;
	margin: 1em 0;
	padding: .5em;
}
div.controls p.error {
	color: #c00;
	display: none;
	/*font-size: 1.2em;*/
	font-weight: bold;
}
div.controls p.error.visible {
	display: block;
}
div.controls p.more-button {
	cursor: pointer;
	/*font-size: .75em;*/
}
div.controls div.more {
}
/* MAP CONTAINER DIV */
div.map-ct {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;
	z-index: 0;
}
/* GENERAL SVG MAP STYLES */
svg {
	pointer-events: all;
}
svg.map {
	height: 100%;
	width: 100%;
}
svg.dragging {
	cursor: move !important;
}
/* AREA / BORDER STYLING */
svg path.border {
	stroke: #fff;
	stroke-width: 1px;
	opacity: 0;
	transition: opacity 1s;
}
svg.borders-hide path.border {
	opacity: 0;
}
svg.borders-show path.border {
	opacity: 1;
}
svg path.border.capellan-confederation {
	stroke: #426e33;
}
svg path.border.draconis-combine {
	stroke: #a8281b;
}
svg path.border.federated-suns {
	stroke: #9c6127;
}
svg path.border.free-worlds-league {
	stroke: #64508d;
}
svg path.border.lyran-commonwealth {
	stroke: #3f7aaa;
}
svg path.border.visible {
	opacity: 1;
}

/* PLANET CIRCLES STYLING */
svg g.planet-circles circle {
	cursor: default;
	opacity: 0;
	pointer-events: none;
	transition: stroke .5s, opacity .5s;
	stroke-width: 3px;
	stroke: transparent;
}
svg.planets-all g.planet-circles circle.inhabited,
svg.planets-all g.planet-circles circle.uncharted,
svg.planets-inhabited g.planet-circles circle.inhabited,
svg.planets-capitals g.planet-circles circle.capital,
svg.planets-clans g.planet-circles circle.clan {
	cursor: pointer;
	opacity: 1;
	pointer-events: all;
}
svg.planets-all g.planet-circles circle.inhabited:hover,
svg.planets-all g.planet-circles circle.uncharted:hover,
svg.planets-inhabited g.planet-circles circle.inhabited:hover,
svg.planets-capitals g.planet-circles circle.capital:hover,
svg.planets-clans g.planet-circles circle.clan:hover {
	stroke: #aaa;
}
svg.planets-all g.planet-circles circle.inhabited.selected,
svg.planets-all g.planet-circles circle.uncharted.selected,
svg.planets-inhabited g.planet-circles circle.inhabited.selected,
svg.planets-capitals g.planet-circles circle.capital.selected,
svg.planets-clans g.planet-circles circle.clan.selected {
	stroke: #fff;
}



/*svg g.planet-circles circle.clan,
svg g.planet-circles circle.uncharted {
	cursor: default !important;
	opacity: 0 !important;
	pointer-events: none !important;
	transition: opacity .5s;
}
svg g.planet-circles circle.clan.visible,
svg g.planet-circles circle.uncharted.visible {
	cursor: pointer !important;
	opacity: 1 !important;
	pointer-events: auto !important;
}*/
svg g.planet-circles circle.capital {
	stroke: #aaa;
}
svg g.planet-circles circle.draconis-combine {
	fill: #a8281b;
}
svg g.planet-circles circle.draconis-combine.capital {
	stroke: rgba(245,60,43,1);
}
svg g.planet-circles circle.federated-suns {
	fill: #9c6127;
}
svg g.planet-circles circle.federated-suns.capital {
	stroke: rgba(210, 150, 55, 1);
}
svg g.planet-circles circle.capellan-confederation {
	fill: #426e33;
}
svg g.planet-circles circle.capellan-confederation.capital {
	stroke: rgba(90, 170, 80, 1);
}
svg g.planet-circles circle.free-worlds-league {
	fill: #64508d;
}
svg g.planet-circles circle.free-worlds-league.capital {
	stroke: rgba(150,105,205, 1);
}
svg g.planet-circles circle.lyran-commonwealth {
	fill: #3f7aaa;
}
svg g.planet-circles circle.lyran-commonwealth.capital {
	stroke: rgba(90,180,240,1);
}
svg g.planet-circles circle.comstar {
	fill: #ff0;
}
svg g.planet-circles circle.comstar.capital {
	stroke: rgba(190, 170, 0, 1);
}
svg g.planet-circles circle.taurian-concordat {
	fill: #a24920;
}
svg g.planet-circles circle.magistracy-of-canopus {
	fill: #2d9889;
}
svg g.planet-circles circle.marian-hegemony {
	fill: #e68a4b;
}
svg g.planet-circles circle.outworlds-alliance {
	fill: #969179;
}
svg g.planet-circles circle.independent-world,
svg g.planet-circles circle.circinus-federation,
svg g.planet-circles circle.illyrian-palatinate,
svg g.planet-circles circle.lothian-league,
svg g.planet-circles circle.tortuga-dominions,
svg g.planet-circles circle.morgraines-valkyrate,
svg g.planet-circles circle.elysian-fields,
svg g.planet-circles circle.oberon-confederation,
svg g.planet-circles circle.fiefdom-of-randis,
svg g.planet-circles circle.barony-of-strang,
svg g.planet-circles circle.periphery,
svg g.planet-circles circle.unknown-planet {
	fill: #dcdcdc;
}
svg g.planet-circles circle.disputed-world {
	fill: #f00;
}
svg g.planet-circles circle.clan {
	fill: #f00;
}
svg g.planet-circles circle {
	fill: rgba(110,110,110,.5);
}

/*path {
	stroke-width: 2 !important;
	stroke: #fff !important;
}*/

/* PLANET NAMES STYLING */
svg g.planet-names text {
	fill: #fff;
	opacity: 0;
	pointer-events: none !important;
	transition: opacity 1s;
}
svg.planets-all.zoomed-in g.planet-names text.uncharted,
svg.planets-all.zoomed-in g.planet-names text.inhabited,
svg.planets-inhabited.zoomed-in g.planet-names text.inhabited,
svg.planets-clans.zoomed-in g.planet-names text.clan,
svg.planets-all g.planet-names text.capital,
svg.planets-inhabited g.planet-names text.capital,
svg.planets-capitals g.planet-names text.capital {
	opacity: 1;
}
/*svg.zoomed-in g.planet-names text.clan.visible,
svg.zoomed-in g.planet-names text.uncharted.visible {
	opacity: 1 !important;
}*/

/* JUMP RANGE INDICATOR STYLES */
 svg circle.jump-range {
	fill: transparent;
	fill: url(#circles-1);
	fill: rgba(255, 255, 255, 0.1);
	opacity: 0;
	pointer-events: none;
	stroke: rgba(255, 255, 255, 0.5);
	stroke-dasharray: 10,10;
	stroke-width: 2px;
	transition: opacity .5s;
}
svg.zoomed-in circle.jump-range.visible {
	opacity: 1;
}

/* JUMP PATH STYLES */
svg g.jump-routes path {
	stroke: #eee;
	stroke-width: 2px;
}

/* LEGEND STYLES */
svg g.legend rect.scale-axis-background {
	fill: #000024;
	shape-rendering: crispEdges;
	stroke: #fff;
	stroke-width: 1;
}
svg g.legend text {
	fill: #fff;
}
svg g.legend g.scale-axis path,
svg g.legend g.scale-axis line {
	fill: none;
	stroke: #fff;
	shape-rendering: crispEdges;
}
