body {
	background-color: #fff;
}

/* MAP CONTAINER DIV */
div.map-ct {
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
}
/* GENERAL SVG MAP STYLES */
svg {
	font-family: Verdana;
	font-size: 9pt;
	pointer-events: all;
}
svg.map {
	height: 100%;
	width: 100%;
}
svg.dragging {
	cursor: move !important;
}

/*
svg g.planet-circles circle {
	cursor: pointer;
	transition: stroke .5s;
	stroke-width: 3px;
	stroke: transparent;
}
svg g.planet-circles circle:hover {
	stroke: #fff;
	opacity: 1;
}
svg g.planet-circles circle.uncharted {
	cursor: default !important;
	opacity: 0 !important;
	pointer-events: none !important;
}
svg g.planet-circles circle.draconis-combine {
	fill: #a00;
	fill: #a8281b;
}
svg g.planet-circles circle.federated-suns {
	fill: #aa0;
	fill: #9c6127;
}
svg g.planet-circles circle.capellan-confederation {
	fill: #0a0;
	fill: #426e33;
}
svg g.planet-circles circle.free-worlds-league {
	fill: #a0a;
	fill: #64508d;
}
svg g.planet-circles circle.lyran-commonwealth {
	fill: #00c;
	fill: #3f7aaa;
}
svg g.planet-circles circle.comstar {
	fill: #fff;
}
svg g.planet-circles circle.taurian-concordat {
	fill: #a24920;
}
svg g.planet-circles circle.magistracy-of-canopus {
	fill: #2d9889;
}
svg g.planet-circles circle.marian-hegemony {
	fill: #e68a4b;
}
svg g.planet-circles circle.outworlds-alliance {
	fill: #969179;
}
svg g.planet-circles circle.independent-world,
svg g.planet-circles circle.circinus-federation,
svg g.planet-circles circle.illyrian-palatinate,
svg g.planet-circles circle.lothian-league,
svg g.planet-circles circle.tortuga-dominions,
svg g.planet-circles circle.morgraines-valkyrate,
svg g.planet-circles circle.elysian-fields,
svg g.planet-circles circle.oberon-confederation,
svg g.planet-circles circle.fiefdom-of-randis,
svg g.planet-circles circle.barony-of-strang,
svg g.planet-circles circle.periphery,
svg g.planet-circles circle.unknown-planet {
	fill: #dcdcdc;
}
svg g.planet-circles circle {
	fill: #f00;
}

path {
	stroke-width: 2 !important;
	stroke: #fff !important;
}

svg g.planet-names text {
	fill: #fff;
	opacity: 0;
	pointer-events: none !important;
	transition: opacity 1s;
}
svg.zoomed-in g.planet-names text {
	opacity: 1;
}
svg g.planet-names text.uncharted {
	opacity: 0 !important;
}*/